<div class="absolute bottom-2">
    <div  class="max-h-[280px] overflow-y-auto">
      <ul id="messages" class=""></ul>
    </div>
    <form class="border-t">
        <input type="text" 
        class="w-44 border-0 p-2 mr-2 border-0 bg-transparent  outline-none"
        [ngClass]="{'h-auto': message.length > 0, 'h-8': message.length === 0}" (input)="checkCharacterCount()"
        [(ngModel)]="message" name="message" placeholder="Type your message here..." />
        <button (click)="sendMessage()">
            <svg class="h-5 w-5" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                <title>send-solid</title>
                <g id="Layer_2" data-name="Layer 2">
                  <g id="invisible_box" data-name="invisible box">
                    <rect width="48" height="48" fill="none"/>
                  </g>
                  <g id="icons_Q2" data-name="icons Q2">
                    <path d="M44.9,23.2l-38-18L6,5A2,2,0,0,0,4,7L9.3,23H24a2.1,2.1,0,0,1,2,2,2,2,0,0,1-2,2H9.3L4,43a2,2,0,0,0,2,2l.9-.2,38-18A2,2,0,0,0,44.9,23.2Z"/>
                  </g>
                </g>
              </svg>
        </button>
    </form>
</div>