<section id="stage-parent" class="fixed flex  overflow-hidden h-screen w-full">
  <!-- Tool box -->
  <div class="w-14 border bg-white z-50 backdrop-filter backdrop-blur-lg bg-opacity-30">
    <span class="text-sm p-2">Pane</span>
    <button class="border-t flex flex-col items-center justify-center p-2 " (click)="toggle()">
      <img class="w-8" src="./assets/icons/shapes.png" alt="shapes">
      <span class="text-xs">Shapes</span>
    </button>
    <button class="border-t flex flex-col items-center justify-center p-2 " (click)="toggleImage()">
      <img class="w-8" src="./assets/icons/picture.png" alt="images">
      <span class="text-xs">Images</span>
    </button>
    <button class="border-t flex flex-col items-center justify-center p-2 " (click)="createShape('text')">
      <img class="w-10" src="./assets/icons/text.png" alt="text">
      <span class="text-xs">Text</span>
    </button>
    <button class="border-t flex flex-col items-center justify-center p-2 " (click)="createShape('pen')">
      <img class="w-10" src="./assets/icons/pencil.png" alt="pencil">
      <span class="text-xs">Draw</span>
    </button>
    <button class="border-t flex flex-col items-center justify-center p-2 " (click)="createShape('erase')">
      <img class="w-10" src="./assets/icons/eraser.png" alt="eraser">
      <span class="text-xs">Eraser</span>
    </button>

    <!-- Color pane -->
    <div class="border-t">
      <div class="text-xs font-bold my-2 px-2">Color</div>
      <span class="flex justify-around p-1 border-b">
        <label class="text-xs">Fill</label>
        <input class="w-5 h-5" type="color" [(ngModel)]="color" (ngModelChange)="color$.next($event)" />
      </span>
    </div>
    <!-- Sidebar -->
    <div class="border-t">
      <button class="p-2 w-6 text-xs" (click)="saveToLocalStorage()">Save</button>
      <!-- create horizontal line -->
      <hr class="my-1">
      <button  class="p-2 w-6 text-xs" (click)="saveToImage()">Export</button>
    </div>
    <div class="mb-5 px-2 ">
      <button class="bg-white hover:bg-gray-100 text-white py-1 px-3 rounded flex items-center w-9" (click)="refreshStage()">
        <svg class="h-4 w-4 mr-1" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
          viewBox="0 0 512 512" xml:space="preserve">
          <path style="fill:#88888F;" d="M511.957,185.213L512,15.045l-67.587,67.587l-7.574-7.574
            c-48.332-48.332-112.593-74.95-180.946-74.95C114.792,0.107,0,114.901,0,256s114.792,255.893,255.893,255.893
            S511.785,397.099,511.785,256h-49.528c0,113.79-92.575,206.365-206.365,206.365S49.528,369.79,49.528,256
            S142.103,49.635,255.893,49.635c55.124,0,106.947,21.467,145.925,60.445l7.574,7.574l-67.58,67.58L511.957,185.213z"/>
          <g>
            <path style="fill:#56545A;" d="M255.893,462.365v49.528c141.101,0,255.893-114.793,255.893-255.893h-49.528
              C462.258,369.79,369.682,462.365,255.893,462.365z"/>
            <path style="fill:#56545A;" d="M444.413,82.632l-7.574-7.574c-48.332-48.332-112.593-74.95-180.946-74.95v49.528
              c55.124,0,106.947,21.467,145.925,60.445l7.574,7.574l-67.58,67.58l170.147-0.021L512,15.045L444.413,82.632z"/>
          </g>
      </svg>
        
      </button>
    </div>
  </div>

 <!-- Shapes -->
<div class="absolute left-20 p-2 m-3 rounded border bg-white z-50 backdrop-filter backdrop-blur-lg bg-opacity-30" *ngIf="isShapeDisplay">
  <button class="bg-transparent hover:focus:outline-none absolute right-0 top-2 mb-3 mr-3" (click)="toggle()">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="w-2 mr-4 mb-2" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
      <path fill="currentColor"
        d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
      </path>
    </svg>
  </button>
  <div class="p-3 grid grid-cols-3 gap-2">
    <button class="hover:bg-gray-200 rounded" (click)="createShape(shape.name)" *ngFor="let shape of shapes">
      <img class="w-8" [src]="shape.image" [alt]="shape.name">
    </button>
  </div>
</div>
<!-- images-->
<div class="absolute left-20 p-2 m-3 h-[36rem] rounded border bg-white z-50  backdrop-filter backdrop-blur-sm" *ngIf="isImageDisplay">
  <button class="bg-transparent hover:bg-opacity-50 focus:outline-none absolute right-0 top-2 mb-3 p-2" (click)="toggleImage()">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="w-2 mr-4 mb-2" role="img"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
      <path fill="currentColor"
        d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
      </path>
    </svg>
  </button>
  <div class="flex flex-wrap w-44 mt-2 overflow-y-scroll h-[16rem] gap-2">
    <button class="m-2 w-8" *ngFor="let image of images; let i = index" (click)="createImage(i, images)">
      <img class="w-6 h-6 object-cover" [src]="image.image" [alt]="image.name">
    </button>
  </div>
  <div class="flex flex-wrap w-44 mt-2 overflow-y-scroll h-[16rem] gap-2">
    <button class="m-2 w-8" *ngFor="let image of emojis; let i = index" (click)="createImage(i, emojis)">
      <img class="w-6 h-6 object-cover" [src]="image.image" [alt]="image.name">
    </button>
  </div>
</div>
<!-- Menu -->
<div id="menu" class="hidden absolute z-50 border bg-gray-100">
    <div class="flex flex-col p-1 ">
      <button class="hover:bg-gray-300 p-1" (click)="bringToFront()">Bring to Front</button>
      <button class="hover:bg-gray-300 p-1" (click)="sendToBack()">Send to Back</button>
      <!-- draw a horizontal line -->
      <hr class="my-1">
      <button class="hover:bg-gray-300 p-1" (click)="deleteShape()">Delete</button>
    </div>
</div>

  <!-- Canvas -->
  <!-- <div id="container" class="h-screen mb-3 bg-gray-100">
    
  </div> -->
  <div id="container" class="grid grid-cols-2 grid-rows-2 gap-4 h-screen w-full bg-gray-100"></div>
  <!-- pop up-->
  <app-pop-up [savedStage]="savedStage" (confirm)="handleConfirm($event)"></app-pop-up>
</section>
<!-- Chat -->
<div class="absolute right-2 bottom-1 p-2 w-64 rounded" [ngClass]="{'h-96 shadow-2xl shadow-slate-900': !isChatClosed, 'h-14 w-14': isChatClosed}">
  <button 
    class="p-2 rounded-full bg-gray-500 text-white" 
    [ngClass]="{'p-2 rounded-full bg-gray-500 text-white': !isChatClosed, 'p-2 rounded-full bg-gray-500 text-white absolute right-2': isChatClosed}"
    (click)="closeChat()">
    <svg *ngIf="isChatClosed" class="h-5 w-5" fill="currentColor" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
      <path d="M1242.353 451.753v1016.471H757.496l-418.672 418.673v-418.673H0V451.754h1242.353ZM1920.033.033v1016.471h-225.881v419.012l-338.937-338.936V338.857H677.681V.034h1242.353ZM677.76 1016.46H338.824v112.94H677.76v-112.94Zm225.77-225.882H338.823V903.63h564.705V790.577Z" fill-rule="evenodd"/>
    </svg>
    <svg *ngIf="!isChatClosed" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.78 5.46L18.36 4.04L12 10.4L5.64 4.04L4.22 5.46L10.58 11.82L4.22 18.18L5.64 19.6L12 13.24L18.36 19.6L19.78 18.18L13.42 11.82L19.78 5.46Z" fill-rule="evenodd"/>
    </svg>
  </button>
  <div class="py-5 px-4" [hidden]="isChatClosed">
    <app-chat></app-chat>
  </div>
</div>